@model WebApp.Models.Brand

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Brand with ID: @Model.BrandId</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.BrandId)
                <div class="row">
                    <div class="col-3">
                        <label>Current Image:</label><br />
                        <img src="@Model.ImageURL" alt="Current Image" class="w-100" />
                    </div>

                    <div class="col-9">
                        <div class="col-12 mt-3">
                            <label for="fileUpload">Upload new image:</label>
                            <input type="file" name="fileUpload" id="fileUpload" accept="image/*" class="form-control" />
                        </div>

                        <div class="col-12 mt-4 d-flex justify-content-center">
                            <a class="btn btn-outline-secondary w-50" type="button" href="/dashboard/brand">Back</a>
                            <button class="btn btn-success w-50" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<!-- /.container-fluid -->