@{
    Layout = "_Layout";
}


@model Member

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register Form</h3>
                    <div asp-validation-summary="All"></div>
                    <form class="row login_form" action="" method="post" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" placeholder="Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" asp-for="Email">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" placeholder="Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"
                                asp-for="Password">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" placeholder="Your name"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'" asp-for="Name">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" placeholder="Your given name"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your given name'" asp-for="GivenName">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" placeholder="Your surname"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your surname'" asp-for="SurName">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this
                            is the</p>
                        <a class="primary-btn" href="/auth/login">Already have an account?, Login now.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>